.coruseCard {
  border: 2px solid rgb(172, 172, 172);
  border-radius: 10px;
  /* margin-left: 30px; */
  padding: 10px;
  margin: auto;
}
.coruseCard img {
  height: 250px;
  width: 100%;
}
.videoTitleLi {
  color: white;
}
.videoTitleLi:hover {
  color: orange;
  cursor: pointer;
  transition: 0.2s;
}
.videoUl {
  background-color: rgb(255, 238, 205);
}
.accordionVideoList {
  margin: 10px;
  background-color: rgb(248, 220, 220);
}
.videoListItem {
  background-color: rgb(255, 215, 139);
}
